body {
  background: rgb(22,13,185);
  background: linear-gradient(90deg, rgba(22,13,185,1) 0%, rgba(15,212,188,1) 50%, rgba(22,13,185,1) 100%);
}

img:hover {
  cursor: pointer;
    -webkit-animation: jello-vertical 0.9s both;
            animation: jello-vertical 0.9s both;
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.container {
  display: flex;
  flex-direction: column;
}

#player_choice {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

#title {
  text-align: center
}

.scoreboard {
  text-align: center;
  background-color: aqua;
  width: 200px;
  position: relative;
  margin: 20px auto;
  border: 5px solid blue; 
  border-radius: 20px;
}

#comp_choice_div {
  text-align: center;
}

#comp_choice {
  color: rgb(255, 255, 255)
}


#results {
  text-align: center;
}

.win_results {
  text-align: center;
  background-color: rgb(153, 253, 123);
  width: 350px;
  position: relative;
  margin: 20px auto;
  border: 5px solid rgb(51, 255, 0); 
  border-radius: 20px;
}

.tie_results {
  text-align: center;
  background-color: rgb(246, 234, 123);
  width: 350px;
  position: relative;
  margin: 20px auto;
  border: 5px solid rgb(255, 208, 0); 
  border-radius: 20px;
}

.lose_results {
  text-align: center;
  background-color: rgb(255, 123, 123);
  width: 350px;
  position: relative;
  margin: 20px auto;
  border: 5px solid rgb(255, 1, 1); 
  border-radius: 20px;
}
